*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Regular', Arial, sans-serif;
    overflow-x: hidden;
}

h1{
    font-family: 'Roboto Bold';
    font-style: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 40px;

    color: #1C1C1C;
}

a{
    display: block;
    text-decoration: none;
}

h2{
    font-family: 'Roboto Bold';
    font-style: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 59px;

    color: #171717;
}

h3{
    font-family: 'Roboto Bold';
    font-style: normal;
    font-size: 24px;
    line-height: 28px;

    color: #171717;
}

h4{
    font-family: 'Roboto Bold';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

.top-form{
    padding-top: 37px;
    background: #f5f5f5;
    padding-bottom: 38px;
}

.bottom-form{
    padding-top: 110px;
    background: #ffffff;
    padding-bottom: 111px;
}

ol{
    counter-reset: myCounter;
}

li{
    list-style: none;
}

ol>li{
    margin-top: 20px;

    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;

    color: #171717;
}

ol>li:before {
    counter-increment: myCounter;
    content:counter(myCounter);
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    margin-right: 5px;
    line-height: 16px;

    color: #B8D26C;
    display: inline-block;
}

.right-align-text{
    text-align: right;
}

input[type="text"]:first-of-type{
    margin-top: 19px;
}

input[type="text"], input[type="tel"], input[type="email"]{
    margin: 8px 0px;
    width: 292px;
    text-align: center;
    background: #ECECEC;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 151px;

    padding: 11px 20px 13px;

    color: #171717;
}

form{
    display: grid;
    justify-content: end;
}

img{
    display: block;
}

input{
    display: block;
    margin-left: auto;
}

input[type="submit"]{
    background: #B8D26C;
    border-radius: 92px;

    width: 207px;

    outline: none;
    border: none;

    padding: 10px 20px 11px 20px;

    text-align: center;

    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;

    color: #000000;
}

input[type="submit"]:focus {
    outline: none;
}

input::placeholder{
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;

    color: #878787;
}

.icon-img{
    margin-right: 10px;
}

.icon-text{
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #222222;
}

.underline{
    height: 2px;
    width: 326px;
    margin-bottom: 30px;
    background: #B8D26C;
}

.about-first{
    padding: 40px 0;
}

.about-first:first-child, .about-first:last-child{
    margin-top: 0px;
}

.about-text{
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 140.7%;

    color: #222222;

    margin-bottom: 30px;
}

.about-button{
    background: #B8D26C;
    border: 1px solid #B8D26C;
    box-sizing: border-box;
    border-radius: 92px;
    color: #000000;
    text-align: center;

    margin-left: auto;

    max-width: 230px;

    padding: 10px 10px 10px 11px;
}

.about-big-img{
    background-position: center;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.max-size{
    width: 100%;
    height: 100%;
}

.img1{
    background: url(../img/Demo1.jpg);
}

.img2{
    background: url(../img/Demo\ 2.jpg);
}

.img3{
    background: url(../img/Demo3.jpg);
}

.img4{
    background: url(../img/Demo4.jpg);
}

.img5{
    background: url(../img/Demo5.jpg);
}

.img6{
    background: url(../img/Farm.jpg);
}

.first-block{
    position: relative;
    background-image: url(../img/Foto.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 54px;
    padding-bottom: 120px;
}

.color-correction{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    opacity: 0.3;
}

.first-block-text{
    font-family: 'Roboto medium';
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #1E1E1E;
}

.addon-container{
    display: grid;
    justify-content: center;
}

.addon-container>h2, .addon-container>p{
    max-width: 750px;
}

.first-block-icons{
    padding-top: 100px;
    display: grid;
    justify-content: center;
}

.first-block-icons>div{
    max-width: 900px;
}

.white-text{
    color: white;
}

.why-we{
    background: #F8F8F8;
    padding: 70px 0px;
}

.why-we-title{
    font-family: "Roboto Bold";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    color: #171717;
}

.why-we-icons{
    padding-top: 82px;
    width: 1100px;
    margin: 0 auto;
}

.about__box--reverse>.about-inblock{
    margin-left: -webkit-calc(50% - 757.5px);
    margin-left: calc(50% - 757.5px);
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 757.5px;
    -ms-flex: 0 0 757.5px;
    flex: 0 0 757.5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.about-inblock{
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 757.5px;
    margin-left: 0;
    margin-right: calc(50% - 757.5px);
    padding: 0;
    display: flex;
    padding: 30px 150px;
    justify-content: start;
}

.about_inblock_content{
    max-width: 440px;
}

.about__box{
    display: flex;
    margin: 0 0;
}

.about__box__img>img{
    width: 100%;
}

.about__box__img{
    display: grid;
    align-items: center;
    width: 50%;
}

.about-text>ul>li::before{
    content:"•";
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    margin-right: 5px;
    line-height: 16px;

    color: #B8D26C;
    display: inline-block;
}

.about__box--reverse{
    flex-direction: row-reverse;
}